<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


   <form method="POST" enctype="multipart/form-data" style="border-bottom: 1px groove #0a0a0a;
                                                                    padding-bottom: 7px;
                                                                    text-align: center;
                                                                    padding: 10px;">
                            <input id="text" type="text" placeholder="Enter headline " autocomplete="off"
                                   required="True"
                                   name="headerData"
                                   style="padding-bottom: 10px;
                                                                                    padding-top: 10px;
                                                                                    padding-left: 40px;
                                                                                    padding-right: 40px;
                                                                                    margin: 5px;
                                                                                    position: relative;
                                                                                    width: 70%;
                                                                                }"/>
                            <br>
                            {% csrf_token %}

                            <label id="getFileLabel" for="getFile">Open File</label>
                            <input id="getFile" type="file" name="document" required="True"/>


                            <button type="submit">Upload</button>


                        </form>
</body>
</html>