{% extends "baseHhtml.html" %}
{% block content %}
{% load static %}
<div style="display:flex;justify-content: center;font-family: 'Open Sans', Arial, sans-serif;">

    <div style="width: 80%;margin-top:2%">
        <h2 style="font-size: 30px; font-weight: 900;text-transform: uppercase; color: #000;font-family: sans-serif;font-family: 'Open Sans', Arial, sans-serif;">
            About Us</h2>

        <div id="firstSection">
            <div class="card width_60">
                <h4 style="font-family: 'Open Sans', Arial, sans-serif;    text-transform: uppercase;
                        text-decoration: underline;    font-weight: 900;">History</h4>
                <div style="font-family: 'Open Sans', Arial, sans-serif;    color:#5c5c5c;    line-height: 1.5;">

                    To keep up with the rapidly changing modern world, specialty-based quality education is an
                    absolute
                    To keep up with the rapidly changing modern world, specialty-based quality education is an
                    absolute
                    necessity. With this objective in mind, the Matha institution was founded in 2016 in the heart
                    of
                    Marayoor. Established and managed by Dr. Subburam and Mrs. Devi Subburaman, our ambition is to
                    provide a
                    world-class platform for professional learning and training in the fields of paramedical
                    sciences
                    and
                    nursing, where our students can seize the opportunity and the challenge to do what they are
                    capable
                    of
                    and reach their full potential on all fronts, both curricular and extracurricular. In addition
                    to
                    being
                    the finest paramedical and nursing institute in the country, our institute is distinguished by
                    its
                    skilled teachers, efficient administrative staff and quality infrastructure, that gives students
                    an
                    opportunity to shape the future and reimagine the world.

                </div>
            </div>


            <div id="aim_obj">
                <h4 style="font-family: 'Open Sans', Arial, sans-serif;    font-weight: 900; text-transform: uppercase;
                    text-align: center;
                text-decoration: underline;">Aim and objectives</h4>

                <div style="margin-top:30px;    line-height: 1.5;    padding-left: 15px; padding-right: 15px;">
                    At Matha Institution, we are dedicated to encouraging, promoting, and propagating best-in-class
                    technical and specialized education. Our aims and objectives include:
                    <br>
                    <br>
                    <br>
                    <br>
                    <ul>
                        <li>To bring a better understanding of the people's problems</li>
                        <br>
                        <li>To stay in close contact with people</li>
                        <br>
                        <li> To provide students with comprehensive technology-integrated education for a better
                            career
                        </li>
                        <br>
                        <li>To arrange meetings, seminars, etc</li>
                    </ul>


                </div>

            </div>
        </div>

        <!--        horizontal items/vision,mission-->
        <div id="horizontal_statement_hex" style="align-items: center; justify-content: center;margin: 2%;align-content: stretch;
                      flex-direction: row;height:500px;
font-family: 'Open Sans', Arial, sans-serif;">

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;height: 80%;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            VALUES
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            As individuals and together, Matha Institution is built on the foundations of moral and
                            ethical standards that are in line with the aim of keeping the education, health and welfare
                            of society at the forefront.
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;height: 80%;   margin: 0px 0px 0px 20px;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            MISSION
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            Development of self-existence in women through the provision of student-centered, quality
                            education defined by excellence, efficiency and higher values.
                        </div>
                    </div>
                </div>
            </div>


            <div style="display: flex;align-items: center; justify-content: center;;align-content: stretch;
                     flex-direction: column;height: 80%;    margin: 0px 0px 0px 20px;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            VISION
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            In everything we do, we strive to be the best, always striving for excellence committed to
                            uplifting society and upholding noble principles.
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column; height: 80%;   margin: 0px 0px 0px 20px;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            OBJECTIVES
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            At Matha Institution, we strive to provide all people with the dignity of job, particularly
                            in the fields of education and medicine, to all those who come to us with deep expectations.
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div id="vertical_statement_hex" style="justify-content: center;margin: 5%;align-content: stretch;
                      flex-direction: row;
font-family: 'Open Sans', Arial, sans-serif;">

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            VALUES
                        </div>
                        <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;
font-family: 'Open Sans', Arial, sans-serif;">
                            As individuals and together, Matha Institution is built on the foundations of moral
                            and
                            ethical standards that are in line with the aim of keeping the education, health and
                            welfare
                            of society at the forefront.
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;   margin: 40px 0px 0px 20px;   ">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            MISSION
                        </div>
                        <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            Development of self-existence in women through the provision of student-centered,
                            quality
                            education defined by excellence, efficiency and higher values.
                        </div>
                    </div>
                </div>
            </div>


            <div style="display: flex;align-items: center; justify-content: center;;align-content: stretch;
                     flex-direction: column;margin: 40px 0px 0px 20px; ">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            VISION
                        </div>
                        <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            In everything we do, we strive to be the best, always striving for excellence
                            committed to
                            uplifting society and upholding noble principles.
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;margin: 40px 0px 0px 20px; ">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            OBJECTIVES
                        </div>
                        <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            At Matha Institution, we strive to provide all people with the dignity of job,
                            particularly
                            in the fields of education and medicine, to all those who come to us with deep
                            expectations.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div style="background: var(--selected_text_color); display: flex;   color: white;    padding-top: 4%;    padding-bottom: 4%;    justify-content: center;
    flex-direction: column;
    align-items: center;">
    <h2 style="font-size: 30px; font-weight: 900;text-transform: uppercase; font-family: sans-serif;font-family: 'Open Sans', Arial, sans-serif;">
        Specialties</h2>

    <div style="font-size: 14px;opacity: 0.8; width:40%;    text-align: center;   text-transform: uppercase;   font-family: 'Open Sans', Arial, sans-serif;">

        Our highly valued and respected certifications, allow candidates to work everywhere in the world with
        confidence, with the exception of the Arabian countries.

    </div>
</div>

<style>
    .width_60
    {
        width: 60%;
    }

    #horizontal_statement_hex
        {
        display:flex;
        }

       #aim_obj
           {
         background: var(--selected_text_color);color: white;font-family: 'Open Sans', Arial, sans-serif;width: 30%;border-radius: 10px;padding: 12px;
            }
.hexagon:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid var(--selected_text_color);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}
    .hexagon:after
     {
        content: "";
        width: 0;
        left: 0;
        position: absolute;
        bottom: -30px;
        border-top: 30px solid var(--selected_text_color);
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
    }

    .hexagon
    {
        margin-top: 30px;
        width: 104px;
        height: 60px;
        background-color: var(--selected_text_color);
        position: relative;
    }

    #vertical_statement_hex
    {
        display:none;
    }


     #firstSection
     {
         display: flex; margin-top: 10%;    flex-direction: row;justify-content: space-around;
     }


     @media only screen and (max-width: 1220px)
     {

        #aim_obj
        {

            background: var(--selected_text_color);
            color: white;
            font-family: 'Open Sans', Arial, sans-serif;
            width: 80%;
            margin:30px;
            border-radius: 10px;
            padding: 20px;
        }
               #firstSection
                {
                 display: flex;
                 margin-top: 10%;
                 flex-direction: column;
                 justify-content: space-around;
                 align-items: center;
                }
     }



   @media only screen and (max-width: 900px)
   {
        #horizontal_statement_hex
        {
           display:none;
        }

        #vertical_statement_hex
        {
            display:block;
        }
   }







</style>

{% endblock %}