{% extends "baseHhtml.html" %}
{% block content %}
{% load static %}

<style>
.dropdown
{
padding:0px
}
#floating_container
{
display: flex;align-items: center; justify-content: center;margin: 10px 10%;
    flex-direction: row;
}

#vertical_statement_hex
{
display:none;
}
.hexagon:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid var(--selected_text_color);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hexagon {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: var(--selected_text_color);
    position: relative;
}

#horizontal_statement_hex
{
display:flex;
}
.hexagon:after {
    content: "";
    width: 0;
    left: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid var(--selected_text_color);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

#moreButton:hover
{
color:white;
}
#moreButton
{
color:gray;
}
     #hoverMore
         {
              background: #918d8d80;

 opacity:0;
          }

    #hoverMore:hover
         {
              background: #918d8d80;
              display:flex;
              opacity:1;
              cursor:pointer;
          }


   #newsItemsParent{
            overflow-x: hidden;display: flex; align-content: center; align-items: center;color: #fff;width:40%
            }
        #floating_text
        {
        display:flex;margin-top: 16%;height: 100%;flex-direction: column;max-width:50%;
        }
    .parentDropDown .dropdown
    {
       display:none;
       position: absolute;
       background:black;
       box-shadow: 0px 14px 33px -9px rgb(0 0 0 / 75%);
       border-radius: 5px;
       border: 1px solid #301B46;
       margin-top:20px;
       z-index: 1;
       padding:10px;
       min-width: 160px;
    }
#overlay_text
{
font-size: 50px;font-weight: 800; opacity: 1;
font-family: 'Open Sans', Arial, sans-serif;
}
.dropdown:before {
  content: "";
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border: solid transparent;
  border-bottom-color: black;
  border-width: 11px;
  margin-left: -99px;
  top: -21px;
  right: 145px;
  z-index: 1;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 145px;
    top: -21px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #2B1A41;
    z-index: 0;
}


 .menuItemHover:hover
    {
      color: var(--selected_text_color);
    }

     .parentDropDown:hover .dropdown
    {
       display:block;
    }
    .parentDropDown
    {
      padding-bottom:20px;
      padding-left:10px;
    }



    .dropdown .submenu
    {
    color:#c9c9c9;
    font-size: 15px;
      text-decoration: none;

    }

    .dropdown .submenu:hover
    {
    color:white;
    font-size: 15px;
    text-decoration: none;
  min-width: 80px;
    }

ul>li
{
  list-style-type: none;
}

   li>a
    {
     font-size: 12px;
     font-weight: 800;
     color: var(--unselected_text_color);

    }

    #menu_button
    {
     display: none;
    }

    .container
    {
      display: inline-block;
      cursor: pointer;
    }




#top_bar
{
display:flex;
flex-direction: row;
align-items: center;
width: fit-content;
padding-top:30px;
padding-bottom:30px;
}
   #menu_parent
    {
        display:flex
   }
    .sidenav
    {
     display:none;
    }
   @media only screen and (max-width: 1220px)
    {

   #menu_parent
            {
             display:none;
            }

        #menu_button
            {
              display: block;
              display:flex; flex-direction: column; justify-content: center;
            }
   #icon
            {
             width:80%;
             margin:0px;
            }

  #floating_text
        {
        display:flex;margin-top: 16%;height: 100%;flex-direction: column;max-width:100%;
        }
#floating_container
{
display: flex;align-items: center; justify-content: center;margin: 10px 10%;
    flex-direction: column;
}
    #overlay_text
{
font-size: 20px;

font-family: 'Open Sans', Arial, sans-serif;
}
     .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
 display:block;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  margin-top:130px;


}



    }

   @media only screen and (max-width: 900px)
   {


   #top_bar
        {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        width: fit-content;
        padding-top:10px;
        }
  #newsItemsParent{
overflow-x: hidden;display: flex; align-content: center; align-items: center;color: #fff;width:100%
            }


          #newsItemsParent{
flex-direction: column;
            }
.mini_full_screen
{
width:112%
}
   #vertical_statement_hex
{
display:block;
}

  #horizontal_statement_hex
{
display:none;
}
   }
   @media only screen and (max-width: 600px)
   {
   #menu_button
            {
              display: block;
              display:flex; flex-direction: row;     justify-content: space-between;
              width:100%;

            }
#vertical_statement_hex
{
display:block;
}
   .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
 display:block;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top:115px;
}



    #menu_icon
    {
     margin: 0px 10px 0px 10px;
    }




   }









.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}



.mainmenu >a:hover
{
 color: #f1f1f1;
}


#sliderimage{
height: 35em;
    width: 100%;
    object-fit: cover;

}
.sidemenu_submenu
{
    margin-left:30px;


}

.container {
  position: relative;
  width: 100%;

}
.shadowtoimage {
  position: absolute;
  bottom: 0;
  top:0;
    margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.35); /* Black see-through */
  color: #f1f1f1;
  width: 100%;

  transition: .5s ease;
  opacity:1;

  font-size: 20px;

  text-align: center;
}
.overlay
{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;

  border: none;
  text-align: center
}



#overlay_button{
    background: #0d24ff;
    color: #fff;
    margin: 20px;
    width: fit-content;
    border-radius: 100px;
    font-family: 'Open Sans', Arial, sans-serif;
    border: 2px solid #0d24ff;
    font-size: 12px;
    padding: 20px 60px;
    text-transform: uppercase;
    }





</style>

<!-- removed ..just for reference-->
<!--<div style="display:flex;justify-content: center;font-family: 'Open Sans', Arial, sans-serif;">-->
<!--    <div id="top_bar">-->
<!--        <img id="icon" src="{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}static_images/logo.jpg"-->
<!--             class="horizontal_spacing_40">-->

<!--        <ul id="menu_parent">-->
<!--            {% for menuItem in menuLists.menuList%}-->
<!--            <li class="parentDropDown"><a href="{{ request.scheme }}://{{ request.get_host }}/{{menuItem.menu_link}}"-->
<!--                                          class="horizontal_spacing_10 text_allCaps menuItemHover">{{menuItem.menu_title}}</a>-->

<!--                {% if menuItem.menu_subMenu|length > 0 %}-->

<!--                <ul class="dropdown">-->
<!--                    {% for subMenu in menuItem.menu_subMenu %}-->

<!--                    <li style="padding-top: 5px;padding-bottom: 5px; padding-right:10px;"><a-->
<!--                            class="submenu"-->
<!--                            href="#">{{subMenu}}-->
<!--                    </a></li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->

<!--                {% endif %}-->
<!--            </li>-->


<!--            {% endfor %}-->


<!--        </ul>-->

<!--        &lt;!&ndash;                      BUTTON FOR SIDE MENU ON   max-width: 1070px      &ndash;&gt;-->
<!--        <div id="menu_button">-->
<!--            <div style="text-align: center; margin: 0px 10px 0px 10px;     color: var(&#45;&#45;selected_text_color);  font-size: 12px;  font-weight: 700;  align-self: center;">-->

<!--            </div>-->
<!--            <div id="menu_icon" class="container horizontal_spacing_50"-->
<!--                 onclick="showSideMenu_inMed_inSmall_screen(this)">-->
<!--                <div class="bar1"></div>-->
<!--                <div class="bar2"></div>-->
<!--                <div class="bar3"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->


<!--<div id="mySidenav" class="sidenav">-->

<!--    {% for menuItem in menuLists.menuList%}-->
<!--    <ul id="sidemenulist">-->
<!--        <li onmouseover="showSubMenu_inMed_inSmall_screen()">-->
<!--            <a href="#" class="sidemenu">{{menuItem.menu_title}}</a>-->
<!--            {% if menuItem.menu_subMenu|length > 0 %}-->
<!--            {% for subMenu in menuItem.menu_subMenu %}-->
<!--            <ul class="sidemenu_submenu">-->
<!--                <li><a href="#">{{subMenu}}</a></li>-->
<!--            </ul>-->
<!--            {% endfor %}-->
<!--            {% endif %}-->
<!--        </li>-->


<!--    </ul>-->

<!--    {% endfor %}-->


<!--</div>-->

<!--slider image with overlay text and button-->
<div class="container">


    <img src="{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}static_images/slider_image1.jpg"
         id="sliderimage"/>
    <div class="shadowtoimage"></div>
    <div class="overlay">
        <div style="display: flex; flex-direction: column;   align-items: center;">


            <span id="overlay_text" style="">For Admission</span>

            <button id="overlay_button">Register now
            </button>
        </div>

    </div>

</div>

<!--welcome and floating buttons-->

<div style="position: absolute;
    margin-top: -165px;width:100%">
    <div style="display:flex;flex-direction: column; justify-content: center;margin: 20px;">
        <div id="floating_container">
            <!--                    1nd button-->
            <div style="display:flex;flex-direction: column; justify-content: center;margin: 20px;">
                <div onclick="registrationPage()" style="    cursor: pointer;background: #FFC300;display:flex;
                padding: 20px 60px;
                    margin-top: -10%;
                    flex-direction: column;">
                <span style="color: white;font-size: 25px;width: max-content;font-weight: 200; text-transform: uppercase;
                         margin: 10px;
font-family: 'Open Sans', Arial, sans-serif;">   For Admission</span>
                    <span style="text-transform: uppercase; letter-spacing: 3px;width: fit-content;font-size: 12px;
                        padding: 5px; border: 1px solid black;">Register Now</span>
                </div>


                <!--                    2nd button-->
                <div style="background: var(--selected_text_color);display:flex;
                padding: 20px 60px;flex-direction: column;margin-top:20px">
                    <span style="color: white;font-size: 25px;font-weight: 200; margin: 10px;text-transform: uppercase;
font-family: 'Open Sans', Arial, sans-serif;">   Our Courses</span>
                    <span style="text-transform: uppercase;letter-spacing: 3px;width: fit-content;font-size: 12px;
                             padding: 5px;color: white;border: 1px solid black;">Register Now</span>
                </div>

            </div>

            <div id="floating_text">
                <div style="color: #000;font-family: sans-serif;margin: 0 0 20px 0;font-size: 30px;font-weight: 700;
                        line-height: 1.5;">
                    Welcome to Matha Institute of Paramedical Sciences and Nursing School.
                </div>
                <div style="font-family: 'Open Sans', Arial, sans-serif;font-weight: 300; font-size: 16px; line-height: 1.5;
    color: #5c5c5c;">
                    Since our inception in 2016, Matha Institute, also known as TKN institution, functioned with the
                    lofty
                    vision of imparting progressive education suited to the changing nature of the society, that
                    provides
                    100 percent job-oriented courses with excellent coaching and training, with a focus on women's
                    empowerment.
                </div>

                <div id="vertical_statement_hex" style="justify-content: center;margin: 5%;align-content: stretch;
                      flex-direction: row;
font-family: 'Open Sans', Arial, sans-serif;">

                    <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;">
                        <div class="hexagon"></div>
                        <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                            <div>
                                <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                                    VALUES
                                </div>
                                <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;
font-family: 'Open Sans', Arial, sans-serif;">
                                    As individuals and together, Matha Institution is built on the foundations of moral
                                    and
                                    ethical standards that are in line with the aim of keeping the education, health and
                                    welfare
                                    of society at the forefront.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;   margin: 40px 0px 0px 20px;   ">
                        <div class="hexagon"></div>
                        <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                            <div>
                                <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                                    MISSION
                                </div>
                                <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                                    Development of self-existence in women through the provision of student-centered,
                                    quality
                                    education defined by excellence, efficiency and higher values.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="display: flex;align-items: center; justify-content: center;;align-content: stretch;
                     flex-direction: column;margin: 40px 0px 0px 20px; ">
                        <div class="hexagon"></div>
                        <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                            <div>
                                <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                                    VISION
                                </div>
                                <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                                    In everything we do, we strive to be the best, always striving for excellence
                                    committed to
                                    uplifting society and upholding noble principles.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;margin: 40px 0px 0px 20px; ">
                        <div class="hexagon"></div>
                        <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                            <div>
                                <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                                    OBJECTIVES
                                </div>
                                <div style="padding:25px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                                    At Matha Institution, we strive to provide all people with the dignity of job,
                                    particularly
                                    in the fields of education and medicine, to all those who come to us with deep
                                    expectations.
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>


        <!--        horizontal items/vision,mission-->
        <div id="horizontal_statement_hex" style="align-items: center; justify-content: center;margin: 2%;align-content: stretch;
                      flex-direction: row;height:500px;
font-family: 'Open Sans', Arial, sans-serif;">

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;height: 80%;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            VALUES
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            As individuals and together, Matha Institution is built on the foundations of moral and
                            ethical standards that are in line with the aim of keeping the education, health and welfare
                            of society at the forefront.
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column;height: 80%;   margin: 0px 0px 0px 20px;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            MISSION
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            Development of self-existence in women through the provision of student-centered, quality
                            education defined by excellence, efficiency and higher values.
                        </div>
                    </div>
                </div>
            </div>


            <div style="display: flex;align-items: center; justify-content: center;;align-content: stretch;
                     flex-direction: column;height: 80%;    margin: 0px 0px 0px 20px;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            VISION
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            In everything we do, we strive to be the best, always striving for excellence committed to
                            uplifting society and upholding noble principles.
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;align-items: center; justify-content: center;align-content: stretch;
                     flex-direction: column; height: 80%;   margin: 0px 0px 0px 20px;    max-width: 250px;">
                <div class="hexagon"></div>
                <div style=" display: flex;  align-items: center;justify-content: center;height: inherit;margin-top: -28px;background: #f2f3f7;padding-top: 87px;min-width: 210px; min-height: 150px;">
                    <div>
                        <div style="font-size: 16px;   font-weight: 700;   text-transform: uppercase;   text-align: center;">
                            OBJECTIVES
                        </div>
                        <div style="padding:20px;text-align: center;font-family: sans-serif;font-weight: 300;
                        font-size: 16px;line-height: 1.5;color: #5c5c5c;font-family: 'Open Sans', Arial, sans-serif;">
                            At Matha Institution, we strive to provide all people with the dignity of job, particularly
                            in the fields of education and medicine, to all those who come to us with deep expectations.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="newsContainer"
         style="background: #1836af;display: flex;justify-content: center;padding-top:50px;padding-bottom:100px;"
         class="mini_full_screen">
        <div style="display: flex;flex-direction: column; align-content: center; align-items: center;color: #fff;">

            <div style="font-size: 14px;opacity: 0.8;    text-transform: uppercase;   font-family: 'Open Sans', Arial, sans-serif;">
                Most
                recent news &amp;
                events
            </div>
            <div style="padding-top: 10px;font-size: 40px;font-weight: 600;font-family: 'Open Sans', Arial, sans-serif;">
                LATEST UPDATES
            </div>

            <div id="newsItemsParent"
            >

                <div id="newsItems"
                     style="display: flex;flex-direction: column; align-content: center; align-items: center;color: #fff;margin:0px 10px;">
                    <div style="box-shadow: 0 10px 38px rgb(0 0 0 / 42%), 0 12px 12px rgb(0 0 0 / 42%);    cursor: grab;;display: flex;justify-content: center; border-radius: 5px;text-align: center;margin-top: 20%; background: white;padding:20px 45px;color:black;min-width: 200px;min-height: 100px;    width: 180px;">
                        <div id="newHeader" style="padding-bottom: 50px;font-family: 'Open Sans', Arial, sans-serif;">
                            Reading day

                        </div>
                    </div>
                    <div id="moreButton"
                         style="padding: 17px 50px;background: var(--selected_text_color);margin-top: -29px;border-radius: 16px;cursor: pointer;font-family: 'Open Sans', Arial, sans-serif">
                        Know more
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--    available courses section-->
    <div id="courseParent" style="align-items: center; justify-content: center;margin: 5% 0px;align-content: stretch;
                      flex-direction: row;height:500px">

        <h2 style="font-size: 30px; font-weight: 900;text-transform: uppercase; color: #000;font-family: sans-serif; text-align: center;font-family: 'Open Sans', Arial, sans-serif;">
            COURSES WE OFFERED</h2>
        <p style="margin-bottom: 20px;text-align: center;font-family: 'Open Sans', Arial, sans-serif;">At Matha
            Institution, we offer courses with the noble goal of
            delivering high-quality education</p>


        <br>
        <!--        course item-->
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));justify-content: center; gap: 20px;    margin: 3%;">
            <div id="courseItem"
                 style="width: max-content;background: var(--selected_text_color); color: white;margin:10px;    display: flex;
    flex-direction: column;
    justify-content: flex-end;    max-width: 100%;">
                <img id="courseImage"
                     style="    height: 300px;
                    width: 100%;    flex: 1;">

                <div style="  height: 120px;display: flex;
    flex-direction: column;
    justify-content: space-between;">
                    <div id="courseTitle" style="padding:18px 20px;font-size: 15px; margin-bottom: 5px; font-weight: 500;text-transform: uppercase;
                    color: #fff;font-family: 'Open Sans', Arial, sans-serif;">
                        asdsadsd
                    </div>
                    <div id="courseDuration"
                         style="padding:15px;font-size: 13px; color: rgba(255, 255, 255, 0.7);font-family: 'Open Sans', Arial, sans-serif;">
                        duration
                    </div>
                </div>
            </div>


        </div>
        <!--        gallery section-->
        <div id="galleryContainer" style="align-items: center; justify-content: center;margin: 5% 0px;align-content: stretch;
                      flex-direction: row;height:500px">

            <div style="font-size: 15px; text-transform: uppercase; color: #2d4256;font-family: sans-serif; text-align: center;font-family: 'Open Sans', Arial, sans-serif;">
                Campus Glimpses
            </div>
            <div style="margin-top:10px;margin-bottom: 20px;color:#2a4356;font-size: 30px; text-transform: uppercase;
    text-align: center;font-family: 'Open Sans', Arial, sans-serif;">Photo Gallery
            </div>
            <div id="galleryParent"
                 style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));justify-content: center; gap: 10px;    margin: 3%;">

                <div id="galleryItem" style=" position: relative;">
                    <img id="galleryImage" style="width: 100%;    height: 300px;"
                         src="{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}course_images/person1.jpg"/>
                    <div id="hoverMore" style=" width: 100%; height: 100%;position: absolute; top: 0;  left: 0;   justify-content: center;
                                 align-items: center;">

                        <img id="fullView" style="    margin: 10px;
    background: #437dff;
    padding: 10px;
    height: 30px;
    border-radius: 100%;" src="{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}static_images/expand.png">

                        <img id="More" style="    margin: 10px;
    background: #f72b2b;
    padding: 10px;
    height: 30px;
    border-radius: 100%;" src="{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}static_images/more.png">
                    </div>
                </div>
            </div>


            <!--footer  section-->
            <div style="background:black;padding-top: 6%;padding-bottom: 5%;;color:white;display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));justify-content: center; gap: 100px;">
                <div>
                    <span style="margin-bottom: 30px;font-size: 13px;color: #e6e6e6;text-transform: uppercase; font-weight: 700;font-family: 'Open Sans', Arial, sans-serif;">ABOUT MATHA INSTITUTE</span>
                    <div style="font-size: 14px;line-height: 1.8;    color: rgba(255, 255, 255, 0.6); margin-top: 40px;font-family: 'Open Sans', Arial, sans-serif;">
                        Since our inception in 2016, Matha Institute, also known as TKN institution, functioned with the
                        lofty
                        vision of imparting progressive education suited to the changing nature of the society, that
                        provides
                        100 percent job-oriented courses with excellent coaching and training, with a focus on women's
                        empowerment.
                    </div>
                </div>

                <div>
                    Quick links

                    <div style="margin-top:20px; display: flex; flex-direction: column;">
                        {% for menuItem in menuLists.menuList%}
                        <a href="#"
                           style="font-size: 14px; color: rgba(255, 255, 255, 0.9); text-decoration: none;;padding:10px;font-family: 'Open Sans', Arial, sans-serif;">{{menuItem.menu_title}}</a>
                        {% endfor %}
                    </div>
                </div>

                <div >
                    Contact info

                    <div style="margin-top:20px;    display: flex; flex-direction: column;">

                        <div style="     font-size: 14px;color: rgba(255, 255, 255, 0.9); text-decoration: none;;padding:10px;font-family: 'Open Sans', Arial, sans-serif;">
                            Second Floor, T.K.N Sastha Hospital, Marayoor
                        </div>
                        <div style="    font-size: 14px; color: rgba(255, 255, 255, 0.9); text-decoration: none;;padding:10px;font-family: 'Open Sans', Arial, sans-serif;">
                            8281062950, 8281241950
                        </div>
                        <div style="    font-size: 14px; color: rgba(255, 255, 255, 0.9); text-decoration: none;;padding:10px;font-family: 'Open Sans', Arial, sans-serif;">
                            join@mathainstitutemarayoor.com
                        </div>
                        <div style="    font-size: 14px; color: rgba(255, 255, 255, 0.9); text-decoration: none;;padding:10px;font-family: 'Open Sans', Arial, sans-serif;">
                            www.mathainstitutemarayoor.com
                        </div>


                    </div>
                </div>

            </div>
            <div id="contact_details" style="padding: 10px;text-align: center; color: white; background: black;font-size: 60%;font-family: 'Open Sans', Arial, sans-serif;">
                © Copyright ©2022 All rights reserved | This template is made with by Catchacloud Technologies.Pvt.Ltd
            </div>
        </div>
    </div>
</div>


<script>

  const newsItemParent=document.getElementById("newsItemsParent")



let mouseDown = false;
let startX, scrollLeft;

let startDragging = function (e) {
  mouseDown = true;
  startX = e.pageX - newsItemParent.offsetLeft;
  scrollLeft = newsItemParent.scrollLeft;
};
let stopDragging = function (event) {
  mouseDown = false;
};

newsItemParent.addEventListener('mousemove', (e) => {
  e.preventDefault();
  if(!mouseDown) { return; }
  const x = e.pageX - newsItemParent.offsetLeft;
  const scroll = x - startX;
  newsItemParent.scrollLeft = scrollLeft - scroll;
});

// Add the event listeners
newsItemParent.addEventListener('mousedown', startDragging, false);
newsItemParent.addEventListener('mouseup', stopDragging, false);
newsItemParent.addEventListener('mouseleave', stopDragging, false);


var myScrollFunc = function() {
  var y = window.scrollY;
  if (y >= 800) {
   console.log("visible")
   fetch('{{ request.scheme }}://{{ request.get_host }}/home/getAllNewsList')
        .then(response =>{
            return response.json();
        }).then(data =>{
            const newsItem=document.querySelector("#newsItems")
    if(data.newsList.length==0)
    document.getElementById("newsContainer").style="display:none;"

        for (let i = 0; i < data.newsList.length; i++) {

              let clone ;
              if(i==0)
              clone=newsItem
              else
             clone = newsItem.cloneNode(true);
            clone.querySelector("#moreButton").addEventListener('click', function(clone1) {

                 location.href = "{{ request.scheme }}://{{ request.get_host }}"+data.newsList[i].imageData;
                console.log("{{ request.scheme }}://{{ request.get_host }}"+data.newsList[i].imageData);
            });


            clone.querySelector("#newHeader").innerHTML = data.newsList[i].newsHeading
                 if(i!=0)
                 {
            clone.id = 'elem2';
            newsItemParent.append(clone);
            }

}
    callCourseApi()
        })
   window.removeEventListener('scroll', myScrollFunc);   newHeader

  }
};
function callCourseApi()
{
   fetch('{{ request.scheme }}://{{ request.get_host }}/home/getCourseDetails')
        .then(response =>{
            return response.json();
        }).then(data =>{

  const courseItem=document.querySelector("#courseItem")
  const courseParent=document.querySelector("#courseParent")
              if(data.courseDetailsList.length==0)
    document.getElementById("courseParent").style="display:none;"

        for (let i = 0; i < data.courseDetailsList.length; i++) {

              let clone ;
              if(i==0)
              clone=courseItem
              else
             clone = courseItem.cloneNode(true);

                clone.querySelector("#courseTitle").innerHTML = data.courseDetailsList[i].courseName
            clone.querySelector("#courseDuration").innerHTML ="Duration : "+ data.courseDetailsList[i].duration
            clone.querySelector("#courseImage").src = "{{ request.scheme }}://{{ request.get_host }}"+data.courseDetailsList[i].imageData;
                 if(i!=0)
                 {
            clone.id = 'elem2';
            courseItem.after(clone);
                 }
            }

            callGalleryImages()
        })
}


function callGalleryImages()
{
var url = new URL('{{ request.scheme }}://{{ request.get_host }}/home/getGalleryImages'),
    params = {"index":0}
    url.search = new URLSearchParams(params).toString();
   fetch(url)
        .then(response =>{
            return response.json();
        }).then(data =>{

  const galleryItem=document.querySelector("#galleryItem")
  const galleryParent=document.querySelector("#galleryParent")
              if(data.galleryImages.length==0)
    document.getElementById("galleryContainer").style="display:none;"

        for (let i = 0; i < data.galleryImages.length; i++) {

              let clone ;
              if(i==0)
              clone=galleryItem
              else
             clone = galleryItem.cloneNode(true);
console.log(clone)


     clone.querySelector("#fullView").addEventListener('click', function() {

                 location.href = "{{ request.scheme }}://{{ request.get_host }}"+data.galleryImages[i].imageData;

            });

             clone.querySelector("#More").addEventListener('click', function() {

                 location.href = "{{ request.scheme }}://{{ request.get_host }}"+"/home/gallery_page";

            });

         clone.querySelector("#galleryImage").src = "{{ request.scheme }}://{{ request.get_host }}"+data.galleryImages[i].imageData;
                 if(i!=0)
                 {
            clone.id = 'elem2';
            galleryItem.after(clone);
                 }
            }


        })
}

window.addEventListener("scroll", myScrollFunc);




var siderImage=document.getElementById("sliderimage")
            var overlay_text=document.getElementById("overlay_text")
            var overlay_button=document.getElementById("overlay_button")
            var interval_timer=1;
            var t = setInterval(function() {
            if(!isPaused) {
            if(interval_timer%2==0)
            {
            siderImage.src = "{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}static_images/slider_image1.jpg"
            overlay_text.innerHTML ="For Admission"
            overlay_button.innerHTML ="Register now"
            }
            else
            {
            siderImage.src = "{{ request.scheme }}://{{ request.get_host }}{{MEDIA_URL}}static_images/slider_image2.jpg"
            overlay_text.innerHTML ="Online Free Course"

            overlay_button.innerHTML ="Free trial"
            }

            interval_timer++;
            siderImage.style.opacity = 0;
            var tick = function () {
            siderImage.style.opacity = +siderImage.style.opacity + 0.05;
            if (+siderImage.style.opacity < 1) {
            var x = (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 20)
            }
            };
            tick();
            }
            }, 8000);

            function stopTimer() {
            clearTimeout(t);
            }
            function play(){
            isPaused = false;
            }
            function pause(){
            isPaused = true;
            }
            play();
            function showSubMenu_inMed_inSmall_screen()
            {
            var mainMenu=document.getElementById("sidemenulist");
            console.log(mainMenu)
            }
            function showSideMenu_inMed_inSmall_screen(x) {
            var nav_bar=document.getElementById("mySidenav") ;
            x.classList.toggle("change");
            if(nav_bar.style.width == "100%")
            {
            nav_bar.style.width = "0px"
            }
            else
            {
            nav_bar.style.width = "100%"
            }
            }
function registrationPage()
{
    console.log("cclasd")
    location.href = "{{ request.scheme }}://{{ request.get_host }}"+"/home/student_registration";
}




</script>
{% endblock %}